/dts-v1/;
/plugin/;

/ {
    compatible = "rockchip,rk3528";

    fragment@0 {
        target = <&i2c0>;

        __overlay__ {
            status = "okay";
            clock-frequency = <400000>;
            pinctrl-names = "default";
            pinctrl-0 = <&i2c0m1_xfer>;
        };
    };
};
